@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 400px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  background-color: #999;
  padding: 20px 10px;
}

.display {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #eee;
  border: 3px solid black;
  border-radius: 3px;
  font-size: 2.5rem;
}



button {
  font-family: inherit;
  font-size: 2rem;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(1.1);
}